.mainContainer {
    background: #eee;
    position: relative;
    margin-top: 45px;
  }
  .content {
    min-height: 100vh;
    width: 100%;
    position: relative;
    left: 250px;
  }
  .inputField:hover,
  .inputField:focus {
    box-shadow: none;
    outline: none;
  }
  .passwordField {
    position: relative;
    width: 100%;
  }
  .passwordIconDiv {
    position: absolute;
    right: 15px;
    top: 6px;
  }
  .passwordIcon {
    font-size: 18px;
    cursor: pointer;
  }
  @media (max-width: 767px) {
    .content {
      position: relative;
      left: 0px;
    }
  }
  